///*------------------------------------*\
//    #COLORS
//\*------------------------------------*/

// Base
$white:			#FFF;
$black:			#000;
$grey:			#999;
$alt-grey:		#666;


// Brand colors
$blue:	#57a3e8;
$green:	#79a12e;


// Branding
$brand-primary-color: 	$blue;
$brand-secondary-color:	$green;