///*------------------------------------*\
//    #COLORS
//\*------------------------------------*/

/**
 * Declare base and brand colors.
 */





///*------------------------------------*\
//    #BASE
//\*------------------------------------*/

$white:			#FFF;
$black:			#000;
$grey:			#999;

$blue:			#57a3e8;
$green:			#79a12e;




///*------------------------------------*\
//    #BRAND-COLORS
//\*------------------------------------*/

$brand-primary-color: 	$blue;
$brand-secondary-color:	$green;