/*------------------------------------*\
    #FORMS
\*------------------------------------*/

/**
 * Form elements.
 * 
 * Dependencies
 *  - inuit settings.defaults
 *  - inuit tools.mixins
 */

// Predefine the variables below in order to alter and enable specific features.
$luna-legend-font-size:	$inuit-base-font-size !default;





/*------------------------------------*\
    #NON-CONTROL-FORM-ELEMENTS
\*------------------------------------*/

fieldset {
    min-width: 0; /* Reset Chrome and Firefox behaviour which sets a 'min-width: min-content;' on fieldsets */
    margin: 0;
    padding: 0;
    border: none;
}

legend {
    display: block;
    width: 100%;
    @include inuit-font-size($luna-legend-font-size);
}

label {
    display: inline-block;
    max-width: 100%; /* Force IE8 to wrap long content */
    margin-bottom: 5px;
}





/*------------------------------------*\
    #NON-CONTROL-FORM-ELEMENTS
\*------------------------------------*/

/**
 * Better positions for radio and checkbox
 */
input[type="radio"],
input[type="checkbox"] {
    position: relative;
    bottom: 2px;
    line-height: normal;
  	vertical-align: middle;

        &+ label {
  			   margin-left: 8px;
  		  }
}

/**
 * Set the height of file controls to match text inputs
 */
input[type="file"] {
  	display: block;
}

/**
 * Make range inputs behave like textual form controls
 */
input[type="range"] {
  	display: block;
  	width: 100%;
}

/**
 * Make multiple select elements height not fixed
 */
select[multiple],
select[size] {
  	height: auto;
}

/**
 * Remove chevron image
 */
select[multiple] {
  	background-image:none;
}